In [24]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

import missingno as msno

In [25]:
pd.set_option("display.max.columns", None)
pd.set_option("display.max.rows", 80)
pd.set_option("display.precision", 2)

In [26]:
df = pd.read_csv('original_do_not_change.csv')

# Describing the Data

In [27]:
df.head()

,id,listing_url,scrape_id,last_scraped,name,description,neighborhood_overview,picture_url,host_id,host_url,host_name,host_since,host_location,host_about,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_thumbnail_url,host_picture_url,host_neighbourhood,host_listings_count,host_total_listings_count,host_verifications,host_has_profile_pic,host_identity_verified,neighbourhood,neighbourhood_cleansed,neighbourhood_group_cleansed,latitude,longitude,property_type,room_type,accommodates,bathrooms,bathrooms_text,bedrooms,beds,amenities,price,minimum_nights,maximum_nights,minimum_minimum_nights,maximum_minimum_nights,minimum_maximum_nights,maximum_maximum_nights,minimum_nights_avg_ntm,maximum_nights_avg_ntm,calendar_updated,has_availability,availability_30,availability_60,availability_90,availability_365,calendar_last_scraped,number_of_reviews,number_of_reviews_ltm,number_of_reviews_l30d,first_review,last_review,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,6983,https://www.airbnb.com/rooms/6983,20220624204326,2022-06-25,Copenhagen 'N Livin',Lovely apartment located in the hip Nørrebro a...,"Nice bars and cozy cafes just minutes away, ye...",https://a0.muscache.com/pictures/42044170/f63c...,16774,https://www.airbnb.com/users/show/16774,Simon,2009-05-12,"København, Denmark",I'm currently working as an environmental cons...,within a day,90%,55%,f,https://a0.muscache.com/im/users/16774/profile...,https://a0.muscache.com/im/users/16774/profile...,Nørrebro,1.0,1.0,"['email', 'phone']",t,f,"Copenhagen, Hovedstaden, Denmark",Nrrebro,NaN,55.69,12.55,Entire rental unit,Entire home/apt,2,NaN,1 bath,1.0,1.0,"[""Stove"", ""Free washer \u2013 In unit"", ""Coffe...",$877.00,3,15,3.0,3.0,15.0,15.0,3.0,15.0,NaN,t,0,0,22,22,2022-06-25,171,3,3,2009-09-04,2022-06-16,4.78,4.78,4.79,4.86,4.89,4.72,4.70,NaN,f,1,1,0,0,1.10
1,26057,https://www.airbnb.com/rooms/26057,20220624204326,2022-06-25,Lovely house - most attractive area,Our lovely house in the center of the city is ...,The neighborhood is the most famous one and th...,https://a0.muscache.com/pictures/miso/Hosting-...,109777,https://www.airbnb.com/users/show/109777,Kari,2010-04-17,"København, Denmark","We are a family with 2 children, and living in...",within an hour,100%,38%,f,https://a0.muscache.com/im/users/109777/profil...,https://a0.muscache.com/im/users/109777/profil...,Indre By,1.0,1.0,"['email', 'phone']",t,t,"Copenhagen, Hovedstaden, Denmark",Indre By,NaN,55.69,12.58,Entire home,Entire home/apt,6,NaN,1.5 baths,4.0,4.0,"[""Private fenced garden or backyard"", ""Stove"",...","$2,400.00",4,1125,4.0,4.0,1125.0,1125.0,4.0,1125.0,NaN,t,0,3,9,224,2022-06-25,58,8,0,2013-12-02,2022-05-15,4.91,4.93,4.96,4.92,4.85,4.94,4.81,NaN,f,1,1,0,0,0.56
2,26473,https://www.airbnb.com/rooms/26473,20220624204326,2022-06-25,City Centre Townhouse Sleeps 1-10 persons,GUESTHOUSE ON KNABROSTRÆDE - located in the ab...,NaN,https://a0.muscache.com/pictures/8e132ba0-b68c...,112210,https://www.airbnb.com/users/show/112210,Julia,2010-04-22,"Copenhagen, Denmark","Active young woman, started as an expat in Cop...",within an hour,100%,94%,f,https://a0.muscache.com/im/pictures/user/8a185...,https://a0.muscache.com/im/pictures/user/8a185...,Indre By,11.0,11.0,"['email', 'phone', 'work_email']",t,t,NaN,Indre By,NaN,55.68,12.58,Entire townhouse,Entire home/apt,11,NaN,2 baths,5.0,5.0,"[""Essentials"", ""Cooking basics"", ""TV"", ""Stove""...","$3,350.00",3,31,3.0,3.0,1125.0,1125.0,3.0,1125.0,NaN,t,3,3,3,3,2022-06-25,293,0,0,2010-10-14,2020-03-02,4.53,4.62,4.44,4.77,4.69,4.88,4.60,NaN,f,11,6,5,0,2.06
3,29118,https://www.airbnb.com/rooms/29118,20220624204326,2022-06-25,Best Location in Cool Istedgade,<b>The space</b><br />The apartment is situate...,NaN,https://a0.muscache.com/pictures/b83c7003-367a...,125230,https://www.airbnb.com/users/show/125230,Nana,2010-05-15,"Copenhagen, Denmark",I have a Master of Arts in Musicology and I wo...,within a day,100%,14%,f,https://a0.muscache.com/im/users/125230/profil...,https://a0.muscache.com/im/users/125230/profil...,Vesterbro,1.0,1.0,"['email', 'phone']",t,t,NaN,Vesterbro-Kongens Enghave,NaN,55.67,12.56,Entire rental unit,Entire home/apt,2,NaN,1 bath,1.0,1.0,"[""Stove"", ""Children\u2019s books and toys"", ""W...",$725.00,7,14,5.0,5.0,14.0,14.0,5.0,14.0,NaN,t,3,3,3,12,2022-06-25,22,0,0,2010-06-17,2019-08-02,4.91,4.85,4.77,5.00,5.00,4.85,4.77,NaN,f,1,1,0,0,0.15
4,670820,https://www.airbnb.com/rooms/670820,20220624204326,2022-06-25,1 Bedroom Apartment 5 min to Centre,The flat is located close to the city center -...,The flat is surrounded by parks and streets th...,https://a0.muscache.com/pictures/91442571/8563...,1566921,https://www.airbnb.com/users/show/1566921,Mihaela,2012-01-04,"Copenhagen, Capital Region of Denmark, Denmark",I truly enjoy interacting with people from dif...,NaN,NaN,NaN,f,https://a0.muscache.com/im/users/1566921/profi...,https://a0.muscache.com/im/users/1566921/profi...,Indre By,1.0,1.0,"['email', 'phone']",t,f,"Copenhagen, Denmark",Indre By,NaN,55.69,12.57,Entire rental unit,Entire home/apt,4,NaN,1 bath,1.0,2.0,"[""Essentials"", ""Cooking basics"", ""TV"", ""Hot wa...","$1,116.00",3,14,3.0,3.0,14.0,14.0,3.0,14.0,NaN,t,0,0,0,0,2022-06-25,8,0,0,2015-08-07,2018-09-18,4.63,4.38,4.50,4.75,4.88,4.88,4.25,NaN,f,1,1,0,0,0.10

In [28]:
df.describe(include='all')

,id,listing_url,scrape_id,last_scraped,name,description,neighborhood_overview,picture_url,host_id,host_url,host_name,host_since,host_location,host_about,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_thumbnail_url,host_picture_url,host_neighbourhood,host_listings_count,host_total_listings_count,host_verifications,host_has_profile_pic,host_identity_verified,neighbourhood,neighbourhood_cleansed,neighbourhood_group_cleansed,latitude,longitude,property_type,room_type,accommodates,bathrooms,bathrooms_text,bedrooms,beds,amenities,price,minimum_nights,maximum_nights,minimum_minimum_nights,maximum_minimum_nights,minimum_maximum_nights,maximum_maximum_nights,minimum_nights_avg_ntm,maximum_nights_avg_ntm,calendar_updated,has_availability,availability_30,availability_60,availability_90,availability_365,calendar_last_scraped,number_of_reviews,number_of_reviews_ltm,number_of_reviews_l30d,first_review,last_review,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
count,1.25e+04,12495,1.25e+04,12495,12495,12156,6461,12495,1.25e+04,12495,12494,12494,12472,6400,9658,9658,10958,12494,12494,12494,5391,12494.00,12494.00,12494,12494,12494,6461,12495,0.0,12495.00,12495.00,12495,12495,12495.00,0.0,12483,12277.00,12330.00,12495,12495,12495.00,12495.00,12494.00,12494.00,12494.00,12494.00,12494.00,12494.00,0.0,12495,12495.00,12495.00,12495.00,12495.00,12495,12495.00,12495.00,12495.00,10191,10191,10191.00,10141.00,10141.00,10141.00,10141.00,10140.00,10141.00,0.0,12495,12495.00,12495.00,12495.00,1.25e+04,10191.00
unique,NaN,12495,NaN,2,12002,11944,6231,12386,NaN,11157,3454,3456,513,5427,4,68,99,2,10973,10973,35,NaN,NaN,7,2,2,203,11,NaN,NaN,NaN,52,4,NaN,NaN,20,NaN,NaN,11914,1783,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,2607,1284,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN
top,NaN,https://www.airbnb.com/rooms/6983,NaN,2022-06-25,Cozy apartment in the heart of Copenhagen,Nyd det simple liv i denne fredelige og centra...,Distance to most popular attractions:<br /><br...,https://a0.muscache.com/pictures/950aadd4-4c99...,NaN,https://www.airbnb.com/users/show/187610263,ApartmentinCopenhagen,2018-05-03,"Copenhagen, Denmark",Vi udlejer møblerede lejligheder og har mere e...,within an hour,100%,100%,f,https://a0.muscache.com/defaults/user_pic-50x5...,https://a0.muscache.com/defaults/user_pic-225x...,Nørrebro,NaN,NaN,"['email', 'phone']",t,t,"Copenhagen, Denmark",Vesterbro-Kongens Enghave,NaN,NaN,NaN,Entire rental unit,Entire home/apt,NaN,NaN,1 bath,NaN,NaN,"[""TV"", ""Paid parking on premises"", ""Wifi"", ""Sm...","$1,000.00",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,t,NaN,NaN,NaN,NaN,2022-06-25,NaN,NaN,NaN,2022-05-29,2022-06-19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f,NaN,NaN,NaN,NaN,NaN
freq,NaN,1,NaN,9403,18,22,19,11,NaN,181,181,182,4251,181,4425,7005,3618,11581,187,187,905,NaN,NaN,10318,12307,10467,4733,2044,NaN,NaN,NaN,5931,10982,NaN,NaN,9429,NaN,NaN,23,499,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12424,NaN,NaN,NaN,NaN,9403,NaN,NaN,NaN,64,597,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9738,NaN,NaN,NaN,NaN,NaN
mean,1.18e+17,NaN,2.02e+13,NaN,NaN,NaN,NaN,NaN,1.00e+08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.99,7.99,NaN,NaN,NaN,NaN,NaN,NaN,55.68,12.56,NaN,NaN,3.44,NaN,NaN,1.69,2.07,NaN,NaN,4.60,494.46,4.47,5.20,588.87,630.29,4.83,615.28,NaN,NaN,5.73,10.64,16.53,90.92,NaN,18.07,4.48,0.69,NaN,NaN,4.78,4.85,4.70,4.89,4.91,4.83,4.72,NaN,NaN,5.00,4.75,0.24,4.08e-03,0.76
std,2.42e+17,NaN,0.00e+00,NaN,NaN,NaN,NaN,NaN,1.23e+08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,44.17,44.17,NaN,NaN,NaN,NaN,NaN,NaN,0.02,0.03,NaN,NaN,1.76,NaN,NaN,1.31,1.43,NaN,NaN,17.12,509.22,17.03,18.96,522.12,518.43,18.52,513.74,NaN,NaN,8.16,15.49,24.00,115.60,NaN,35.85,10.63,1.40,NaN,NaN,0.44,0.27,0.39,0.24,0.23,0.25,0.32,NaN,NaN,23.14,23.16,0.99,8.33e-02,1.00
min,6.98e+03,NaN,2.02e+13,NaN,NaN,NaN,NaN,NaN,1.17e+04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00,0.00,NaN,NaN,NaN,NaN,NaN,NaN,55.61,12.44,NaN,NaN,0.00,NaN,NaN,1.00,1.00,NaN,NaN,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,NaN,NaN,0.00,0.00,0.00,0.00,NaN,0.00,0.00,0.00,NaN,NaN,0.00,1.00,1.00,1.00,1.00,1.00,1.00,NaN,NaN,1.00,0.00,0.00,0.00e+00,0.01
25%,1.72e+07,NaN,2.02e+13,NaN,NaN,NaN,NaN,NaN,1.29e+07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00,0.00,NaN,NaN,NaN,NaN,NaN,NaN,55.67,12.54,NaN,NaN,2.00,NaN,NaN,1.00,1.00,NaN,NaN,2.00,20.00,2.00,2.00,21.00,29.00,2.00,29.00,NaN,NaN,0.00,0.00,0.00,0.00,NaN,1.00,0.00,0.00,NaN,NaN,4.71,4.80,4.57,4.86,4.90,4.75,4.62,NaN,NaN,1.00,1.00,0.00,0.00e+00,0.19
50%,3.61e+07,NaN,2.02e+13,NaN,NaN,NaN,NaN,NaN,4.32e+07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.00,1.00,NaN,NaN,NaN,NaN,NaN,NaN,55.68,12.56,NaN,NaN,3.00,NaN,NaN,1.00,2.00,NaN,NaN,3.00,365.00,3.00,3.00,365.00,1125.00,3.00,550.90,NaN,NaN,1.00,4.00,6.00,22.00,NaN,6.00,1.00,0.00,NaN,NaN,4.88,4.93,4.82,4.98,5.00,4.90,4.78,NaN,NaN,1.00,1.00,0.00,0.00e+00,0.42
75%,5.21e+07,NaN,2.02e+13,NaN,NaN,NaN,NaN,NaN,1.47e+08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.00,1.00,NaN,NaN,NaN,NaN,NaN,NaN,55.70,12.58,NaN,NaN,4.00,NaN,NaN,2.00,3.00,NaN,NaN,4.00,1125.00,4.00,5.00,1125.00,1125.00,4.00,1125.00,NaN,NaN,9.00,15.00,22.00,175.00,NaN,20.00,5.00,1.00,NaN,NaN,5.00,5.00,5.00,5.00,5.00,5.00,4.97,NaN,NaN,1.00,1.00,0.00,0.00e+00,0.98
max,6.56e+17,NaN,2.02e+13,NaN,NaN,NaN,NaN,NaN,4.66e+08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,346.00,346.00,NaN,NaN,NaN,NaN,NaN,NaN,55.74,12.65,NaN,NaN,16.00,NaN,NaN,101.00,24.00,NaN,NaN,1111.00,4000.00,1111.00,1111.00,4000.00,4000.00,1111.00,4000.00,NaN,NaN,30.00,60.00,90.00,365.00,NaN,690.00,460.00,25.00,NaN,NaN,5.00,5.00,5.00,5.00,5.00,5.00,5.00,NaN,NaN,181.00,181.00,18.00,3.00e+00,22.13

In [29]:
# Columns with no values
print('Columns with all values missing:')
for col in df.columns: 
    if df[col].count() == 0:
        print(col)

Columns with all values missing:
neighbourhood_group_cleansed
bathrooms
calendar_updated
license

In [30]:
# Columns with only one value
print('\nColumns with only one value:')
for column in df.columns:
    unique_values = df[column].unique()
    if len(unique_values) == 1 and not np.isnan(unique_values).all():
        print(column)

Columns with only one value:
scrape_id

In [39]:
# Identical columns
identical_columns = []

columns_with_more_than_one_unique_value = []
for column in df.columns:
    unique_values = df[column].dropna().unique()  # Drop NaN before checking unique values
    if len(unique_values) > 1:
        columns_with_more_than_one_unique_value.append(column)

identical_columns = []
for i in range(len(columns_with_more_than_one_unique_value)):
    for j in range(i + 1, len(columns_with_more_than_one_unique_value)):
        col_i = columns_with_more_than_one_unique_value[i]
        col_j = columns_with_more_than_one_unique_value[j]
        if df[col_i].equals(df[col_j]):
            identical_columns.append((col_i, col_j))

print("\nIdentical columns:")
for pair in identical_columns:
    print(f"{pair[0]} and {pair[1]}")

Identical columns:
last_scraped and calendar_last_scraped
host_listings_count and host_total_listings_count

# Generating New Columns

In [5]:
##Creating new description column that measures the length of description column
df['description_length'] = df['description'].str.len() 

##Creating new host about column that measures the length of the host about column
df['host_about_length'] = df['host_about'].str.len() ##Creating new host about column that measures the length of the host about column

df['nbr_bathrooms'] = df['bathrooms_text'].replace({'Half-bath': '0.5', 'Shared half-bath': '0.5', 'Private half-bath': '0.5'}).str.extract(r'(\d+\.?\d*)').astype(float)

# Create 'bathrooms_shared' column, setting it to True or False based on the presence of 'shared', NaNs are retained
df['bathrooms_shared'] = df['bathrooms_text'].str.contains('shared', case=False, na=False)


##Waiting with this one, not sure if needed
##room_types = {'Entire home/apt': 1, 'Private room': 2, 'Hotel room': 3, 'Shared room': 4}
##df['room_type_encoded'] = df['room_type'].map(room_types)

             room_type  room_type_encoded
0      Entire home/apt                  1
1      Entire home/apt                  1
2      Entire home/apt                  1
3      Entire home/apt                  1
4      Entire home/apt                  1
...                ...                ...
12490  Entire home/apt                  1
12491  Entire home/apt                  1
12492  Entire home/apt                  1
12493  Entire home/apt                  1
12494  Entire home/apt                  1

[12495 rows x 2 columns]

# Dropping Columns

# Fixing Columns